.input {
  &__lable {
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &__control {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 241px;
    max-height: 46px;
    padding: 16px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.169;
    font-weight: 400;
    color: var(--color-primary-light);
    border: 1.5px solid var(--color-brand-grey);
    border-radius: 32px;
    background-color: transparent;
    transition: background-color 0.2s;

    @media screen and (min-width: $bp-mobile) {
      max-width: 310px;
      max-height: 52px;
      padding: 18px 32.85px;
      border: 2px solid var(--color-brand-grey);
    }

    &:focus {
      background-color: var(--color-brand-grey);
      outline: none;
    }

    &::placeholder {
      color: var(--color-primary-light);
      font-size: 13px;
      line-height: 1.169;
    }
  }
}
