.contact-section {
  padding-top: 20px;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0 96px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 105px 0 76px;
    }
  }

  &__map {
    height: 232px;
    margin: 0 -20px;
    flex-shrink: 0;
    border: none;

    @media screen and (min-width: $bp-tablet) {
      flex-grow: 1;
      height: 481px;
      max-width: 605px;
      margin: auto;
      border-radius: 32px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 605px;
      height: 481px;
    }
  }

  &__form {
    flex-grow: 1;
    background-image: url(../images/contact-form-background.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    padding: 42px 24px;

    @media screen and (min-width: $bp-mobile) {
      padding: 48px 57px 48px 56px;
      border-radius: 32px;
    }

    @media screen and (min-width: $bp-tablet) {
      max-width: 422px;
    }
  }

  &__form-field {
    margin-bottom: 16px;
  }
}
