.contact-section {
  padding: 48px 0 96px;

  &__title {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    padding: 0 105px 0 76px;
    gap: 32px;
  }

  &__map {
    flex-shrink: 0;
    border-radius: 32px;
    border: none;
  }

  &__form {
    flex-grow: 1;
    background-image: url(../images/contact-form-background.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    padding: 48px 57px 48px 56px;
  }

  &__form-field {
    margin-bottom: 16px;
  }
}
