.footer {
  position: relative;
  background-image: url(../images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56px 0;

  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    gap: 20px;
  }

  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1.175;
    margin-bottom: 16px;
  }

  &__address-icons {
    display: flex;
    gap: 24px;
  }

  &__address-icon {
    fill: var(--color-primary-light);
    transition: fill 0.2s;

    &:hover {
      fill: var(--color-brand-light);
    }
  }

  &__address-copyright {
    color: var(--color-brand-grey);
    font-size: 13px;
    line-height: 1.169;
  }

  &::after {
    position: absolute;
    width: 247px;
    height: 152px;
    right: 0;
    bottom: 0;
    background-image: url(../images/footer-decor.png);
    background-repeat: no-repeat;
    content: '';
  }
}
