.procedure-section {
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }

  &__slider {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 32px;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 12px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
    }
  }
}
