.procedure-section {
  padding: 48px 0;

  &__title {
    margin-bottom: 48px;
  }

  &__slider {
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }
}
