.section-title {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.181;
  margin-bottom: 24px;

  @media screen and (min-width: $bp-tablet) {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.156;
    margin-bottom: 48px;
  }

  &--centered {
    text-align: center;
  }
}
