.transformation-section {
  padding: 0 0 52px;

  @media screen and (min-width: $bp-tablet) {
    padding: 0 0 88px;
  }

  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 32px;
  }

  &__content {
    padding: 0;

    @media screen and (min-width: $bp-tablet) {
      max-width: 709px;
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 40px 0 0;
    }
  }

  &__title {
    max-width: 264px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 529px;
      margin-bottom: 40px;
    }
  }

  &__text {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      line-height: 1.727;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 40px;
    }
  }

  &__item {
    &:nth-child(even) {
      align-self: flex-end;
    }
  }

  &__img {
    border-radius: 50%;
  }

  &__decoration,
  &__decoration-img {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      display: block;
    }
  }

  &__decoration-img {
    max-width: none;
    animation-name: spin;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:nth-child(1) {
      left: 876px;
      top: 360px;
    }

    &:nth-child(2) {
      left: 1232px;
      top: 44px;
    }

    &:nth-child(3) {
      left: 1224px;
      top: 278px;
    }
  }

  &__modal-decoration-img {
    position: absolute;
    display: block;
    width: 40px;
    right: 10px;
    bottom: -45px;
    animation-name: spin;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.5);
  }

  3% {
    transform: rotate(2deg) scale(0.4);
  }

  45% {
    transform: rotate(28deg) scale(1.4);
  }

  47% {
    transform: rotate(29deg) scale(1.5);
  }

  50% {
    transform: rotate(30deg) scale(1.4);
  }

  100% {
    transform: rotate(0deg) scale(0.5);
  }
}
